@using GeneratorAPI.Models;
@model AppDbContext



@{
    int QuestInidex = 1;
    int[] mas = { 1, 2, 3, 4, 5, 6 };
    var ThemeCount = Model.Themes.Count();
    var AnswerCount = Model.Answers.Count();
    ViewData["Title"] = "Home Page";
}

    <link rel="stylesheet" href="~/css/Index.css" />
    <script src="~/js/Index.js" asp-append-version="true"></script>



<form method="post" action="/Home/MyIndex" >
    <label>Вопрос:</label>
    <select id="question-select" onchange="Func(@AnswerCount)" onl>
        @foreach (var p in Model.Questions)
        {
            <option value ="@p.Id">@p.Text</option>
        }
    </select>
    <input id="question-select-value" type="hidden" name ="questionID" value="@QuestInidex" />

    <label>Тема:</label>
    <select id="theme-select" onchange="MyFunc(@ThemeCount)">
        @foreach (var p in Model.Themes)
        {
            <option value="@p.Id">@p.Name</option>
            
        }
    </select>
   


    @for(int i = 1; i <= ThemeCount; i++)
    {
        
        String n;
        n = i == 1 ? "display:flex" : "display:none";
        <div class="div-checkbox" id="div-checkbox-@i" style=@n >
            @foreach(var c in Model.Answers.Where(c=>c.ThemeEntity.Id==i))
            {
                <label>
                <input type="checkbox" id="div-checkbox-value-@c.Id" name="div-checkbox-values" value="@c.Id" />
                    @c.Text
                   
                </label>
                
            }
            

        </div>
    }
    <input type="submit" value="Подтвердить">
    <input asp-action="Index" asp-controller="Home" formmethod="get"   type="submit" value="Сброс">
    
</form>
<script>
    Func(@AnswerCount);
</script>



