@using GeneratorAPI.Models
@using GeneratorAPI.Models.Entities;
@using Microsoft.EntityFrameworkCore
@model QuestionEntity

@{
   
}

@{
    Layout = null;
    AppDbContext db = ViewBag.Db;
    var IdGroups = db.IdGroup.AsNoTracking().Include(c=>c.IdSets);
}
<!DOCTYPE html>
<head>
<link rel="stylesheet" href="~/css/QTI.css" />
<script src="~/js/Index.js" asp-append-version="true"></script>
</head>

<body onload="Func()">
    <form asp-action="pss" asp-controller="Home" method="post">
        <input type="hidden" name="IdQuestion" value="@Model.Id"/>
        <div>
            <p>@ViewBag.IdGroup</p>
            <p>@Model.IdSet.Id</p>
            <p>@Model.Text</p>
        </div>

        <div class="select-nav">
            <select id="select-idGroup" onchange="GetIdSet()">
                @foreach (var c in IdGroups.Select(c => c.Id))
                {
                    <option value="@c">
                        @c
                    </option>
                }
            </select>

            <div>
                @{
                    int i = 0;
                }
                @foreach (var c in IdGroups)
                {
                    String n = i == 0 ? "display:flex" : "display:none"; i++;
                    <select id="select-IdSet-@i" style=@n onchange="GetAnswers(@i)">
                        @foreach (var q in c.IdSets)
                        {
                            <option value="@q.Id">@q.Id</option>
                        }
                    </select>
                }
                <input type="hidden" id="display-id" value="1"></input>
            </div>



        </div>


        <div id="imageGroup" class="imageGroup">
            @{
                i = 0;
            }
            @foreach(var c in db.Images.AsNoTracking())
            {
                <div>
                    <img src="@c.Href" id="image-@c.Id" width="400px" height="400px" style=""/>
                    <input type="hidden" id="image-value-@c.Id" value="false"/>

                </div>
                i++;
            }
        </div>

        <input type="submit"></input>


    </form>
</body>




