@using GeneratorAPI.Models
@using GeneratorAPI.Models.Entities;
@using Microsoft.EntityFrameworkCore
@model QuestionEntity

@{
   
}

@{
    Layout = null;
    AppDbContext db = ViewBag.Db;
    var IdGroups = db.IdGroup.AsNoTracking().Include(c=>c.IdSets);
}
<!DOCTYPE html>
<head>
<link rel="stylesheet" href="~/css/QTI.css" />
<script src="~/js/Index.js" asp-append-version="true"></script>
</head>

<body onload="Func()">
    <form>
        <input type="hidden" name="IdQuestion" value="@Model.Id"/>
        <div>
            <p>@ViewBag.IdGroup</p>
            <p>@Model.IdSet.Id</p>
            <p>@Model.Text</p>
        </div>

        <div>
            <select>
            @foreach(var c in IdGroups.Select(c=>c.Id))
            {
                <option value="@c">
                    @c
                </option>
            }
            </select>

            <div>
                @{
                    int i = 0;
                }
                @foreach(var c in IdGroups)
                {
                    
                    <select id = "selectIdSet-@i">
                    @foreach(var q in c.IdSets)
                    {
                            <option value="@q.Id">@q.Id</option>
                    }
                    </select>
                    i++;
                }
            </div>
            


        </div>


        <div id="imageGroup" class="imageGroup">
            @{
                i = 0;
            }
            @foreach(var c in db.Images.AsNoTracking().Select(c=>c.Href))
            {
                <div>
                    <img src="@c" id="image-@i" width="400px" height="400px" style=""/>
                    <input type="hidden" id="image-value-@i" value="false"/>

                </div>
                i++;
            }



        </div>








    </form>

    










</body>




